@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-image: url("cool-background.png");
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    width: 100%;
    margin: auto;
    padding:  0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
}
.logo{
    width: 220px;
    cursor: pointer;
    margin-top: -6.5%;
}
ul{
    margin-top: -2%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #4070F4;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
p{
    margin-top: 75px;
    text-align: center;
    font-size: 230px;
}
h3{
    color: #fff;
    text-align: center;
    padding: 13px;
    font-size: 30px;
}